version: "3.2"
services:
    mariadb:
        container_name: mariadb
        restart: unless-stopped
        image: mariadb:10.4
        environment: 
            MARIADB_ROOT_PASSWORD: root
        ports:
            - 3306:3306
        volumes:
            - ./persistent-data/mariadb-data:/var/run/mysqld
        networks:
            - nginx-network
    nginx:
        container_name: nginx
        restart: unless-stopped
        image: nginx:1.17.8
        ports:
            - 80:80
            - 443:443
        volumes:
            - ./config/nginx/:/etc/nginx/conf.d/
            - ./www:/usr/www
            - ./data/certbot/conf:/etc/letsencrypt
            - ./data/certbot/www:/var/www/certbot
        command: "/bin/sh -c 'while :; do sleep 6h & wait $${!}; nginx -s reload; done & nginx -g \"daemon off;\"'"
        deploy:
            resources:
                limits:
                    memory: 64M
                    cpus: 0.5
                reservations:
                    memory: 64M
        networks:
            - nginx-network
    portainer:
        container_name: portainer
        restart: unless-stopped
        image: portainer/portainer-ce
        volumes:
            - /var/run/docker.sock:/var/run/docker.sock
            - ./portainer_data:/data
        networks:
            - nginx-network
    certbot:
        image: certbot/certbot
        volumes:
            - ./data/certbot/conf:/etc/letsencrypt
            - ./data/certbot/www:/var/www/certbot
        entrypoint: "/bin/sh -c 'trap exit TERM; while :; do certbot renew; sleep 12h & wait $${!}; done;'"
        networks:
            - nginx-network
    app:
        container_name: app
        restart: unless-stopped
        image: juliocsrmf/php8-mongodb-driver
        volumes:
            - ./www/app:/usr/www/app
            - ./config/php/app/custom.ini:/usr/local/etc/php/conf.d/custom.ini
            - ./config/crontabs/app:/etc/crontabs/root # Use this for enable your custom cronworks
            - ./config/fpm/app/custom.conf:/usr/local/etc/php-fpm.d/zzz.custom.conf # Custom FPM settings
            - ./config/ssh/app:/root/.ssh # Save SSH keys outside container
        working_dir: /usr/www/app
        deploy:
            resources:
                limits:
                    memory: 128M
                    cpus: 0.01
                reservations:
                    memory: 64M
        networks:
            - nginx-network
networks:
    nginx-network:
        driver: bridge
        name: nginx-network