version: "3.2"
services:
    db:
        container_name: mysql
        restart: unless-stopped
        image: mysql:5.7
        environment: 
            MYSQL_ROOT_PASSWORD: root
        ports:
            - 3306:3306
        volumes:
            - ./mysql-data:/var/lib/mysql
        networks:
            - nginx-network
    nginx:
        container_name: nginx
        restart: unless-stopped
        image: nginx:1.17.8
        ports:
            - 80:80
        volumes:
            - ./config/nginx/site.conf:/etc/nginx/conf.d/site.conf
            - ./www:/usr/www
        networks:
            - nginx-network
    php:
        container_name: php
        restart: unless-stopped
        image: juliocsrmf/php-7-4-mongodb-driver
        volumes:
            - ./www:/usr/www
            - ./config/php:/usr/local/etc/php/conf.d
        networks:
            - nginx-network
networks:
    nginx-network:
        driver: bridge